.card {
  width: 659px;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  box-sizing: border-box;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.card__buttons {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}